<div class="main-container">
  <h2>My donations</h2>
<% current_user.donations.each do |donation| %>
<div class="container-donation">
  <div class="donation-card">
    <div class="donation-card-name" ><%= donation.project.name.capitalize %></div>
    <div class="donation-card-amount" >Amount given: <%= donation.amount %>$</div>
    <div class="donation-card-status" >Status: <%= donation.status %></div>
  </div>
</div>
<% end %>
</div>

<!-- <h4> Donation received </h4>
<% current_user.projects.each do |project| %>
<% unless project.donations.count.zero? %>
<div class="container-donation">
  <div class="project-donation-row">
    <div class="donation-card-name" ><%= project.name.capitalize %></div>
    <% project.donations.each do |donation| %>
    <% if donation.status != 'pending' %>
      <div class="donation-received-details <%= donation.status == 'accept' ? 'donation-card-accept': 'donation-card-decline' %>" donation-id="<%= donation.id %>">
    <% else %>
       <div class="donation-received-details" donation-id="<%= donation.id %>">
    <%end %>
        <div class="donation-card-amount" >Amount offered: <%= donation.amount %></div>
        <% if donation.status == 'pending' %>
        <div class="donation-card-status" donation-status-form-id="<%= donation.id %>"> <%= render partial: 'donations/donation-status-form', locals: {project: donation.project, donation: donation} %> </div>
        <% else %>
        <div class="donation-card-status" >Status: <%= donation.status %></div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
 -->
