<h1> projects </h1>

<h2>Your projects</h2>
<div class="container">
  <div class="row">
    <% @current_user.projects.each do |project| %>
    <div class="col-xs-12 col-sm-4 grow">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= project.photo.file.nil? ? 'https://source.unsplash.com/random' : cl_image_path(project.photo, height: 300, width: 400, crop: :fill) %>)">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= project.name %></h2>
        </div>
        <div class="fa-buttons">
          <%= link_to '<i class="fas fas-clickable fa-trash hvr-grow-rotate"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <%= link_to(project) do %>
        <div class="card-link"></div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2>Projects you successfuly donated to</h2>
<% current_user.donations.each do |donation| %>
  <% if donation.status == 'accept' %>
  <div class="card"></div>
  <h3><%= link_to donation.project.name, project_path(donation.project) %></h3>
  <br>
  <p><%= donation.project.description %></p>
  <br>
  <% end %>
<% end %>
