<h2>Your projects</h2>
<div class="container">
  <div class="row">
    <% @current_user.projects.each do |project| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <a class="cover-link" href="/"></a>
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= project.photo.file.nil? ? 'https://source.unsplash.com/random' : cl_image_path(project.photo, height: 300, width: 400, crop: :fill) %>)">
        </div>
        <div class="card-content">
          <p class="content-ngo-name">NGO</p>
          <p class="content-project"> <%= project.name.capitalize %></p>
          <p class="content-category"><%= project.focus_area.name %></p>
        </div>
        <%= link_to(project) do %>
        <div class="card-link"></div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2>Projects you successfuly donated to</h2>
<div class="container">
  <div class="row">
    <% current_user.donations.each do |donation| %>
    <% if donation.status == 'accept' %>
    <div class="card">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="cover-link" href="/"></a>
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= donation.project.photo.file.nil? ? 'https://source.unsplash.com/random' : cl_image_path(donation.project.photo, height: 300, width: 400, crop: :fill) %>)">

            <div class="btn btn-donate"> $<%= donation.amount %> donated
            </div>
          </div>
          <div class="card-content">
            <p class="content-ngo-name">NGO</p>
            <p class="content-project"> <%= donation.project.name.capitalize %></p>
            <p class="content-category"><%= donation.project.focus_area.name %></p>
          </div>
          <%= link_to(project_path(donation.project)) do %>
          <div class="card-link"></div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
