<% if current_user == @project.user %>
  <%= link_to 'edit', edit_project_path(@project) %>
  |
  <%= link_to 'delete', project_path(@project),
      method: :delete %>
<% end %>

<h1><%= @project.name %></h1>
<h4><%= @project.focus_area.name %></h4>
<h3><%= @project.description %></h3>
<h4>This project is owned by <%= @project.user.email %></h4>


<% if current_user != @project.user %>
  <%= link_to 'donate', new_project_donation_path(@project) %>
<% end %>


<% if current_user == @project.user %>
  <% @project.donations.each do |donation| %>
    <h1><%= donation.user.email %> donated <%= donation.amount %></h1>

    <% if donation.status == "pending" %>

      <%= render partial: 'donations/donation-status-form', locals: {project:@project, donation: donation} %>
    <% else %>
      <h1>Status: <%= donation.status %></h1>
    <% end %>
  <% end %>
<% end  %>


<%= cl_image_tag @project.photo, height: 300, width: 400, crop: :fill %>

