<div class="banner-project-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @project.photo.file.nil? ? 'https://source.unsplash.com/random' : cl_image_path(@project.photo, height: 300, width: 400, crop: :fill) %>)">
 <div class="banner-project-name">
   <h1><%= @project.name.capitalize %></h1>
   <h4><%= @project.focus_area.name %></h4>
 </div>
 <% unless current_user == @project.user %>
 <%= link_to(new_project_donation_path(@project)) do %>
 <button type="button" class="btn project-banner-button"> Donate
 </button>
 <% end %>
 <% end %>

 <div class="amounts">
   <div class="given">
     <div>Amount Given</div>
     <div>0$</div>
   </div>
   <div class="total">
     <div>Total Funding</div>
     <div><%= @project.received_donations %>$</div>
   </div>
 </div>
</div>
<br>
<div class="container">
 <!--  <h4>Description</h4> -->
  <div class="container-project">
   <div class="row">
     <div class="col-m-6">
       <div class="project-description">
         <h3><%= @project.description %></h3>
         <!-- <h1><%= @project.name %></h1> -->
       </div>
       <div class="project-media-link">
         <ul class="list-inline">
           <li><a href="#" i class="fab fa-wordpress-simple"></a></i></li>
           <li><a href="#" i class="fab fa-instagram"></a></i></li>
           <li><a href="#" i class="fab fa-twitter"></a></i></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>
<br>
<div class="container">
  <h4>Contributors</h4>
  <div class="project-show-contributor-card">
    <div class="donation-card-name" >Name</div>
  </div>
</div>


<div class="edit-delete">
 <% if current_user == @project.user %>
 <%= link_to 'edit', edit_project_path(@project) %>
 |
 <%= link_to 'delete', project_path(@project),
 method: :delete %>
 <% end %>
</div>

   <!-- <h6>This project was published <%= @project.user.email %></h6> -->


<!--    <% if current_user != @project.user %>
   <%= link_to 'donate', new_project_donation_path(@project) %>
   <% end %> -->


   <% if current_user == @project.user %>
   <% @project.donations.each do |donation| %>
   <h1><%= donation.user.email %> donated <%= donation.amount %></h1>

   <% if donation.status == "pending" %>

   <%= render partial: 'donations/donation-status-form', locals: {project:@project, donation: donation} %>
   <% else %>
   <h1>Status: <%= donation.status %></h1>
   <% end %>
   <% end %>
   <% end  %>


